body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #1a1a1a, #2b2b2b);
}

/* APP */
.app {
  height: 95vh; /* un poco más pequeño que la pantalla */
  width: 100%;
  max-width: 360px; /* 📱 tamaño tipo celular real */

  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 15px;
  box-sizing: border-box;

  border-radius: 25px; /* ✨ bordes suaves */
  background: linear-gradient(180deg, #d8c3c3, #FF758C);

  box-shadow: 
    0 20px 60px rgba(0,0,0,0.5); /* ✨ efecto flotante */
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  opacity: 0.7;
}

/* PORTADA */
.cover {
  width: 75%;
  max-width: 260px;
  margin: 10px auto;
  border-radius: 15px;
}

/* INFO */
.song-info {
  text-align: center;
}

.song-info h2 {
  font-size: 16px;
  margin: 0;
}

.song-info p {
  font-size: 13px;
  opacity: 0.7;
}

/* LIKE */
.like {
  text-align: center;
  font-size: 20px;
}

/* BARRA */
.progress-container {
  height: 3px;
  background: #ffffff30;
  border-radius: 5px;
}

.progress {
  height: 100%;
  width: 0%;
  background: white;
}

/* TIEMPO */
.time {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  opacity: 0.7;
}

/* LETRAS */
.lyrics {
  text-align: center;
  min-height: 60px;
}

.current {
  font-size: 15px;
  font-weight: bold;
}

.past {
  font-size: 12px;
  opacity: 0.4;
}

/* CONTROLES */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.play {
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 50%;
  border: none;
}



